@use "../utilidades/variables" as *;
@use "../utilidades/mixin" as *;
/* ESTILOS PARA LA PAGINA CARRITO */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.carrito-container {
    background: #FADBD7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000020;
    min-width: 70%;
    max-height: 100%;
}

.carrito-items .item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
}
.carrito-item:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

.item-carrito img {
    width: 100px;
    border-radius: 6px;
}

.btn-remove {
    border: none;
    background: #ff5a5a;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
#carrito-footer {
  background: #FADBD7;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  #btnPagar{
    margin-left: 50px;
  }
  
}
#carrito-footer:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

.finalizar {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #f5f5f5;
}

.finalizar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.btn-finalizar,
.btn-confirmar {
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}